gitea:
  admin:
    username: admin
    password: admin
# postgresql:
#   enabled: true
#   postgresqlPassword: admin

global:
  storageClass: openebs-hostpath

persistence:
  enabled: true
  storageClass: "openebs-hostpath"

